input:read-only,
textarea:read-only {
    background-color: #CCC;
}

html {
    height: 100%;
    /* 画面全体を使用する場合のお約束 */
}

body {
    margin: 0;
    /* 画面全体を使用する場合のお約束 */
    padding: 0;
    /* 画面全体を使用する場合のお約束 */
    min-height: 100%;
    /* 画面全体を使用する場合のお約束 */
    height: 100%;
    /* 画面全体を使用する場合のお約束 */
}

/* input見た目実装 */
li {
    list-style: none;
}

/* 全体のgrid分け */
.container {
    display: grid;
    height: 100%;
    grid-template-columns: 60px 180px 1.4fr;
    grid-template-rows: 50px 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu nav header"
        "menu nav article";
    background-color: white;
    padding: 0%;
}

.menu {
    grid-area: menu;
    background-color: #263047;
    padding: 10px;
}
/* メニューバー */
.menu img {
    width: 40px;
    max-width: 40px;
    padding-bottom: 20px;
}
/* メニューバーここまで */

.nav {
    grid-area: nav;
    background-color: fff;
    padding: 0%;
    list-style: none;
    margin: 0%;
}

.header {
    grid-area: header;
    background: #263047;
}

/* ルーム内ヘッダー */
.sbs-line {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}
/* ルーム内ヘッダーここまで */

.article {
    grid-area: article;
    background-color: rgb(113, 147, 193);
    overflow-y: auto;
    display: grid;
    grid-template-rows: 2fr 0.7fr;
}

/* チャット内容見た目 */
#list_message li{
    padding: 1%;
}
/* チャット内容見た目ここまで */


/* メッセージtextarea */
#input_message{
    width: 90%;
    margin-left: 1%;
}
/* メッセージtextareaここまで */

/* submit見た目 */
form input{
    color: black;
}
/* submit見た目ここまで */


/* LINEルーム アイコン 名前 チェックポイント*/
.nav .first {
    /* 最初のルームはちょっとだけ下げてる */
    padding-top: 15px;
}

.li2 input {
    display: none;
    /* トグル非表示 */
}

.li2 label {
    float: left;
    cursor: pointer;
    margin: 0;
    background: #fff;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}

.roomButton {
    display: grid;
    grid-template-columns: 55px 80px 1fr;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 60px;
}

.icon {
    padding-top: 5px;
}

.icon img {
    width: 50px;
    max-width: 50px;
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    /* padding-top: 5px; */
    /* left: 5px; */
}

/* ルーム名表示 ...折り返し表示できてない */
.roomName p {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

/* 通知ボタン見た目*/
.check {
    /* モダンブラウザ限定 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.check img {
    /* padding-left: 5px; */
    /* margin-top: 5px; */
    width: 20px;
    margin: 0 auto;
}

/* 通知ボタン機能実装 */
.li2 label:first-of-type {
    border-radius: 3px 0 0 3px;
}

.li2 label:last-of-type {
    border-radius: 0 3px 3px 0;
}

.li2 input[type="radio"]:checked+.switch-on {
    background-color: darkgray;
    color: #fff;
}

.li2 input[type="radio"]:checked+.switch-off {
    background-color: darkgray;
    color: #fff;
}
/* LINEルーム アイコン 名前 チェックポイントここまで*/
