/* メッセージ入力フォーム固定 */
/* body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.textMessage {
	flex: 1;
} */
.wrapper {
	position: relative;
}
.container {
	position: absolute;
	display: block;
	bottom: 10px;
	/* width: auto; */
	margin: 10px;
}
.container2{

}


/* 全体の枠 */
.talk {
	background-color: rgb(113, 147, 193);
	/* LINEっぽい背景色 */
	/* padding:1em; */
	overflow: auto;
	height: 100%;
}

/* 入室した際の表示 */
.talk .talk_middle {
	/* display:inline-block; */
	list-style: none;
	text-align: center;
	width: auto;
	padding: 10px;
}

/* LINE風吹き出しにヘッダーをつける */
.sbs-line {
	/* content: '{{room}}'; */
	color: #fff;
	font-weight: bold;
	/* line-height: 1; */
	text-align: center;
	width: 100%;
	padding: .5em 0;
	background: #263047;
	/* position: absolute; */
	/* top: 0; left: 0; */
	display: block;
}

/* .sbs-line {
    padding-top: calc(2em + 10px);
}
.sbs-line+.sbs-line:before {
    content: none;
} */