body {
    background-color: #f5f5f5;
}

main{
    padding: 30px;
}

.body {
    width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}

.signup{
    margin-top: 100px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}