html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0 auto;
    display: grid;
    /* grid-template-rows: 0.2fr 1.8fr; */
    grid-template-rows: 80px 776px 1fr;
    /* height: 100%; */
    /* overflow-y: hidden; */
}

/* 全体のgrid分け */
.container {
    display: grid;
    height: 100%;
    grid-template-columns: 60px 180px 1.4fr;
    grid-template-rows: 50px 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu nav header"
        "menu nav article";
    background-color: aqua;
    padding: 0%;
}

.menu {
    grid-area: menu;
    background-color: #263047;
    padding: 10px;
}

.nav {
    grid-area: nav;
    background-color: fff;
    padding: 0%;
    list-style: none;
    margin: 0%;
}

.header {
    grid-area: header;
    background: #263047;
}

.article {
    grid-area: article;
    background-color: rgb(113, 147, 193);
    overflow-y: auto;
}

/* 全体のgrid分けここまで*/

/* メニューバー */
.menu img {
    width: 40px;
    max-width: 40px;
    padding-bottom: 20px;
}

/* メニューバーここまで */

/* LINEルーム アイコン 名前 チェックポイント*/
.nav .first {
    /* 最初のルームはちょっとだけ下げてる */
    padding-top: 15px;
}

.li2 input {
    display: none;
    /* トグル非表示 */
}

.li2 label {
    float: left;
    cursor: pointer;
    /* width: 60px; */
    margin: 0;
    /* padding-bottom: 5px; */
    background: #fff;
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}

.roomButton {
    display: grid;
    grid-template-columns: 55px 80px 1fr;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 60px;
}

.icon {
    padding-top: 5px;
}

.icon img {
    width: 50px;
    max-width: 50px;
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: none;
    /* padding-top: 5px; */
    /* left: 5px; */
}

/* ルーム名表示 ...折り返し表示できてない */
.roomName p {
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

/* 通知ボタン見た目*/
.check {
    /* モダンブラウザ限定 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.check img {
    /* padding-left: 5px; */
    /* margin-top: 5px; */
    width: 20px;
    margin: 0 auto;
}

/* 通知ボタン機能実装 */
.li2 label:first-of-type {
    border-radius: 3px 0 0 3px;
}

.li2 label:last-of-type {
    border-radius: 0 3px 3px 0;
}

.li2 input[type="radio"]:checked+.switch-on {
    background-color: darkgray;
    color: #fff;
}

.li2 input[type="radio"]:checked+.switch-off {
    background-color: darkgray;
    color: #fff;
}

/* LINEルーム アイコン 名前 チェックポイントここまで*/

/* ルーム内ヘッダー */
.sbs-line {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}
/* ルーム内ヘッダー ここまで*/


/*ルーム内吹き出し*/
.talk_left,
.talk_right {
    margin: 30px 0;
    display: flex;
    /* 二つの意味がわからない */
    justify-content: flex-start;

    /* align-items: flex-start; */
    /*縦位置を上揃え*/

    align-items: center;
    /*縦位置を真ん中揃え*/
}

.talk_right {
    justify-content: flex-end;
    /* これ外すと左に寄る。 */
}

/*ルーム内のコメント入力欄*/
form{
    display: flex;
}
#input_message{

}
/*ルーム内のコメント入力欄ここまで*/



/* プロフィールのアイコン */
.faceicon img {
    width: 60px;
    height: auto;
    max-width: 60px;
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: none;
}

/* アイコンと吹き出しのスペースあける */
.talk_right .faceicon {
    margin-left: 25px;
    margin-right: 10px;
}

.talk_left .faceicon {
    margin-right: 25px;
    margin-left: 10px;
}

/* 画像を吹き出しより右側に動かす */
.talk_right .faceicon {
    order: 2 !important;
}

.says {
    max-width: 500px;
    /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #99dddd;
    /*色は任意*/
    box-sizing: border-box;
    margin: 0 !important;
    line-height: 1.5;
    /*   align-items: center; */
}

.says p {
    margin: 8px 0 0 !important;
}

.says p:first-child {
    margin-top: 0 !important;
}

/* 吹き出しの三角と吹き出しの位置調整 */
.says:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    /* margin-top:-3px;  */
}

/* それぞれ左右の吹き出し三角調整 */
.talk_left .says:after {
    left: -26px;
    border-right: 22px solid #99dddd;
}

.talk_right .says:after {
    right: -26px;
    border-left: 22px solid #99dddd;
}
/*ルーム内吹き出しここまで*/