{% extends 'base2.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/chat_test.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="menu">
        <a href="{% url 'chat_test' %}"><img src="{% static 'image/chat.svg' %}"></a>
        <a href="{% url 'profile' %}"><img src="{% static 'image/user.svg' %}"></a>
        <img src="{% static 'image/users.svg' %}">
    </div>
    <ul class="nav">
        {% for room_i in room_names %}
        {% if forloop.counter is 1 %}
        <li class="li2 first">
            <input type="radio" name="s2" id="select{{ room_i.id }}" value={{ room_i.room }} checked="">
            <label for="select{{ room_i.id }}" class="switch-on roomButton">
                <div class="icon">
                    <img src="{% static 'image/s64_f_health_11_0bg.jpg' %}">
                </div>
                <div class="roomName">
                    <p class="roomDis"> {{ room_i.room }} </p>
                </div>
                <div class="check">
                    <img src="{% static 'image/checkPoint.svg' %}">
                </div>
            </label>
        </li>
        {% else %}
        <li class="li2">
            <input type="radio" name="s2" id="select{{ room_i.id }}" value={{ room_i.room }}>
            <label for="select{{ room_i.id}}" class="switch-off roomButton">
                <div class="icon">
                    <img src="{% static 'image/s64_f_health_11_0bg.jpg' %}">
                </div>
                <div class="roomName">
                    <p class="roomDis">{{ room_i.room }}</p>
                </div>
                <div class="check">
                    <img src="{% static 'image/checkPoint.svg' %}">
                </div>
            </label>
        </li>
        {% endif %}
        {% endfor %}
        <div class="room_adds">
            <a href="{% url 'room_add' %}"><img src="{% static 'image/s256_f_business_43_0bg.png' %}"></a>
        </div>
    </ul>

    <div class="header">
        <div class="sbs-line" id="text_roomname">
        </div>
    </div>
    <div class="article" id="article">
        <div class="chat_list">
            <div id="text_username"></div>
            <ul id="list_message"></ul>
        </div>

        <div class="message_input">
            <form action="" onsubmit="onsubmitButton_Send(); return false;">
                <!-- Message : <input type="text" id="input_message" autocomplete="off" autofocus /> -->
                <textarea id="input_message" rows="4" cols="40">感想を記入します。</textarea>
                <input type="submit" value="送信" />
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
</script>

<script>
    let count = 1;
    const g_elementInputUserName = document.getElementById("input_username");
    const g_elementInputRoomName = document.getElementById("input_roomname");

    const g_elementTextUserName = document.getElementById("text_username");
    const g_elementTextRoomName = document.getElementById("text_roomname");

    const g_elementInputMessage = document.getElementById("input_message");
    const g_elementListMessage = document.getElementById("list_message");


    // WebSocketオブジェクト
    let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const g_socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/chat/");

    //ルーム名に日本語が選択できるようにASCIIへ文字列を変換(channel_layer.group_add()関数の仕様により)
    function asciiAt(str) {
        let roomAs;
        for (let i = 0; i < str.length; i++) {
            if (i != 0) {
                roomAs = roomAs + "." + str.charCodeAt(i);

            } else {
                roomAs = str.charCodeAt(i);
            }
        }
        // console.log(roomAs);
        return roomAs;
    }

    //ASCIIを文字列に変換
    function asciiDecode(str) {
        let roomDecode = "";
        decode = str.split('.');
        for (let i = 0; i < decode.length; i++) {
            roomDecode = roomDecode + String.fromCharCode(decode[i]);
            //roomAs + fromCharCode(decode[i]);
        }
        return roomDecode;
    }

    //チャットでスクロール位置を取得して一番上まで来たらajax発火,ajaxのチャット合計量がcount×10より多いなら再読み込み(ajax再発火)する
    $("#article").scroll(function () {
        if ($(this).scrollTop() == 0) {
            console.log("0だよ！");

            let elements = document.getElementsByName('s2');
            let target;
            //現在のルーム名を取得
            for (let i = 0; i < elements.length; i++) {
                if (elements.item(i).checked) {
                    target = elements.item(i).value;
                }
            }

            let url_mask = "{% url 'api_chat' %}";
            let chat_url = url_mask + target;
            $.ajax({
                url: chat_url,
                type: 'get',
                dataType: 'json',
                timeout: 10000,
            }).done(function (data) {
                if (data.length >= count * 10) {
                    count += 1;
                    ajax_get(target, "{{ user.id }}", "{{ user.username }}");
                }
            })
        }
    });

    //chatルームに参加したら実行
    function onsubmitButton_JoinChat(area) {
        let strInputUserName = "{{ user.username }}";
        if (!strInputUserName) {
            return;
        }
        g_elementTextUserName.value = strInputUserName;

        // ルーム名,全部ASIIに変換
        let strInputRoomName = asciiAt(area.value);

        //ルーム名をliに入れる
        g_elementTextRoomName.value = strInputRoomName;
        g_elementTextRoomName.textContent = area.value;

        // サーバーに"join"を送信
        g_socket.send(JSON.stringify({
            "data_type": "join",
            "username": strInputUserName,
            "roomname": strInputRoomName
        }));

        //ルーム切り替え時に存在するチャットログを全て削除する
        while (g_elementListMessage.lastChild) {
            g_elementListMessage.removeChild(g_elementListMessage.lastChild);
        }
        //切り替え時にカウントも全部消す
        count = 1;

        //以下にルームのDB記述を追加
        ajax_get(area.value, "{{ user.id }}", strInputUserName);
    }

    $(document).ajaxStop(function () {
        //一番最後に発火 DB読み込み後、スクロールバーを一番下にする
        //$(window).scrollTop($('.message_input').position().top);
        console.log("こんにちは");
        let list = document.getElementById('article');
        list.scrollTo(0, list.scrollHeight);
    });


    //もしラジオボタンが変化したらルームを変更する。
    let radio_btns = document.querySelectorAll(`input[type='radio']`);
    // console.log(radio_btns[0].value);
    for (let target of radio_btns) {
        target.addEventListener(`change`, function () {
            console.log(target.value);
            onsubmitButton_JoinChat(target);
        });
    }

    //room_name=所属するルーム,user_id=現在のユーザid,strInputUserName=現在のユーザ名
    function ajax_get(room_name, user_id, strInputUserName) {
        let room_data; //ajax_room_data

        let url_mask = "{% url 'api_chat' %}";
        let chat_url = url_mask + room_name;
        chat_url = url_mask + room_name + "/" + count;
        console.log(chat_url);

        $.ajax({
            url: "{% url 'api_room_int' meta=user.id %}",
            type: 'get',
            dataType: 'json',
            timeout: 10000,
        }).done(function (data) {
            room_data = data;
        })

        $.ajax({
            //ここ徐長だから変更すべき、このままだと100万件でも取る羽目になる
            url: chat_url,
            type: 'get',
            dataType: 'json',
            timeout: 10000,
        }).done(function (data) {
            //console.log(room_data.length);
            console.log(data);
            let rooms_list = rooms_get(room_data);
            let room_index;
            for (let i = 0; i < rooms_list.length; i++) {
                if (room_name == rooms_list[i]) {
                    room_index = i;
                }
            }

            //タグ追加
            rooms_add(rooms_chat_get(rooms_list, data), room_index, strInputUserName);
        })
    }


    //user.idからroom.filterで所属ルームを回収・rooms_get()でリスト化、rooms_chat_getでチャット内容を取得と。
    function rooms_get(data) {
        rooms = [];
        for (let i = 0; i < data.length; i++) {
            if (rooms.includes(data[i].room) == false) {
                rooms.push(data[i].room);
            }
        }
        console.log("room_data:" + rooms.length);
        return rooms;
    }

    //ユーザーが所属するルームのchatlist(ユーザ名,ルーム名,チャット内容)を返却
    function rooms_chat_get(room_data, chat_data) {
        let chats = Array(room_data.length).fill().map((_, i) => []);
        for (let i = 0; i < chat_data.length; i++) {
            if (room_data.includes(chat_data[i].room)) {
                //console.log(chat_data[i].room + ":" + chat_data[i].name);
                let room_index = room_data.indexOf(chat_data[i].room);
                //console.log(":room_index:" + room_index);
                chats[room_index].push([chat_data[i].name, chat_data[i].text, chat_data[i].time, chat_data[i]
                    .icon
                    .icon,
                ]);
                //console.log(chat_data[i].icon.icon);
            }
        }
        //console.log(chats);
        return chats;
    }

    //ajaxで受け取ったDBをタグ追加して表示
    //chat内容、room_index=所属するルームの要素,strInputUserName=現在のユーザ名
    function rooms_add(room_chat, room_index, strInputUserName) {
        for (let i = 0; i < room_chat[room_index].length; i++) {
            /*補足
            room_chat[room_index][i][0] = chat.name
            room_chat[room_index][i][1] = chat.text
            room_chat[room_index][i][2] = chat.time
            */
            let elementLi = document.createElement("li");

            //自分のコメントはtalk_left,それ以外はtalk_rightにクラスを変える
            if (strInputUserName == room_chat[room_index][i][0]) {
                elementLi.classList.add('talk_left');
            } else {
                elementLi.classList.add("talk_right");
            }

            //DBのiconをdivに追加
            let faceIconDiv = document.createElement("div");
            faceIconDiv.classList.add('faceicon');
            let elementIcon = document.createElement("img");
            elementIcon.src = room_chat[room_index][i][3];
            faceIconDiv.append(elementIcon);
            elementLi.append(faceIconDiv);

            let SaysDiv = document.createElement("div");
            SaysDiv.classList.add('says');
            let childP = document.createElement("p");
            childP.textContent = room_chat[room_index][i][0] + "] " + room_chat[room_index][i][1];
            SaysDiv.append(childP);
            elementLi.append(SaysDiv);

            g_elementListMessage.append(elementLi); // リストの一番下に追加

            let timeP = document.createElement("p");
            timeP.textContent = room_chat[room_index][i][2];
            g_elementListMessage.append(timeP);
        }

    }


    // 「Send」ボタンを押したときの処理
    function onsubmitButton_Send() {
        // 送信用テキストHTML要素からメッセージ文字列の取得
        let strMessage = g_elementInputMessage.value;
        if (!strMessage) {
            return;
        }

        // WebSocketを通したメッセージの送信
        g_socket.send(JSON.stringify({
            "message": strMessage
        }));

        // 送信用テキストHTML要素の中身のクリア
        g_elementInputMessage.value = "";
    }

    // WebSocketからメッセージ受信時の処理
    g_socket.onmessage = (event) => {
        console.log("hallo!");
        let strInputUserName = "{{ user.username }}";
        // テキストデータをJSONデータにデコード
        let data = JSON.parse(event.data);

        // 自身がまだ参加していないときは、無視(そもそも受信されない)
        //if (g_elementTextRoomName.value != data["roomname"]) {
        //  console.log("はいってませーん");
        //return;
        //}
        console.log(g_elementTextRoomName.value + "::" + data["roomname"]);

        // メッセージの整形
        let strMessage = data["datetime"] + " - [" + data["username"] + "] " + data["message"] + "[ルーム名:" +
            asciiDecode(data["roomname"]) + "]";

        //コメント集団li追加
        let elementLi = document.createElement("li");

        //自分のコメントはtalk_left,それ以外はtalk_rightにクラスを変える
        if (strInputUserName == data["username"]) {
            elementLi.classList.add('talk_left');
        } else {
            elementLi.classList.add("talk_right");
        }

        //DBのiconをdivに追加
        let faceIconDiv = document.createElement("div");
        faceIconDiv.classList.add('faceicon');
        let elementIcon = document.createElement("img");
        elementIcon.src = data["icon"];
        faceIconDiv.append(elementIcon);
        elementLi.append(faceIconDiv);

        //liにpクラスを追加
        let SaysDiv = document.createElement("div");
        SaysDiv.classList.add('says');
        let childP = document.createElement("p");
        childP.textContent = strMessage;
        SaysDiv.append(childP);
        elementLi.append(SaysDiv);

        //Li追加
        g_elementListMessage.append(elementLi);
    };

    // WebSocketクローズ時の処理
    g_socket.onclose = (event) => {
        // ウェブページを閉じたとき以外のWebSocketクローズは想定外
        console.error("Unexpected : Chat socket closed.");
    };

    //ソケット準備完了後発火している。
    g_socket.onopen = function (ev) {
        console.log('On Open Event =>', ev);
        console.log('DOM fully loaded and parsed');
        onsubmitButton_JoinChat(radio_btns[0]);

    }
</script>
{% endblock %}