{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <img>
    <h1>マイページ</h1>
    <p>{{ user.username }}さん、こんにちは。</p>
    <img src = "{{ user.icon.url }}">
    <p>ルームの選択</p>
    <select id="roomList" size=2>
        {% for i in room %}
        <option value="{{ i.room}}">{{i.room}} </option>
        {% endfor %}
    </select>
    <button type="button" id="checkButton" class="btn btn-primary">
        OK
    </button>
    <p><a href="{% url 'logout' %}">Log Out</a></p>    
</div>

<script>
    function changeLocation() {//ここでルーム移動を指定
        window.location.href = "http://127.0.0.1:8000/accounts/room/" + roomSelect.value;
    }
    let roomSelect = document.getElementById('roomList');//htmlのoptionから指定されたvalueを取得
    //roomSelect.options[2].selected = true;//謎

    let checkButton = document.getElementById('checkButton');//動かすボタンを取得
    checkButton.addEventListener('click', changeLocation);//取得したぼたんが発火したら指定したroomサイトに移動
</script>
{% endblock %}