{% extends 'base2.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="homes">
    <div class="container">
        <div class="menu">
            <a href="{% url 'chat_test' %}"><img src="{% static 'image/chat.svg' %}"></a>
            <img src="{% static 'image/user.svg' %}">
            <img src="{% static 'image/users.svg' %}">
        </div>

        <div class="header">
            <div class="header_pic">
                <img src="{{ user.header.url }}">
            </div>
        </div>
        <div class="profile">
            <div class="icon_edit">
                <img src="{{ user.icon.url }}">
                <div></div>
                <button class="btn_edit" onClick="changeProfileEdit()">プロフィール編集</button>
            </div>
            <h2>{{ user.username }}</h2>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            <p><a href="{% url 'room_add' %}">ルーム新規作成</a></p>
        </div>
    </div>
</div>

<script>
    function changeProfileEdit() {//profile_editへ移動
        window.location.href = '{% url "profile_edit"  %}';
    }
</script>
{% endblock %}