{% extends 'base2.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/room_test.css' %}">
{% endblock %}

{% block content %}
<h1>My Chat</h1>
<p>{{ user.username }}さん、こんにちは。</p>
<div class="container">
    <div class="menu">
        <img src="{% static 'image/chat.svg' %}">
        <img src="{% static 'image/user.svg' %}">
        <img src="{% static 'image/users.svg' %}">
    </div>
    <ul class="nav">
        {% for room_i in room_names %}
        {% if room_i.id is 1 %}
        <li class="li2 first">
            <input type="radio" name="s2" id="select{{ room_i.id }}" value={{ room_i.id }} checked="">
            <label for="select{{ room_i.id }}" class="switch-on roomButton">
                <div class="icon">
                    <img src="{% static 'image/s64_f_health_11_0bg.jpg' %}">
                </div>
                <div class="roomName">
                    <p class="roomDis">{{ room_i.room }}</p>
                </div>
                <div class="check">
                    <img src="{% static 'image/checkPoint.svg' %}">
                </div>
            </label>
        </li>
        {% else %}
        <li class="li2">
            <input type="radio" name="s2" id="select{{ room_i.id }}" value={{ room_i.id }}>
            <label for="select{{ room_i.id}}" class="switch-off roomButton">
                <div class="icon">
                    <img src="{% static 'image/s64_f_health_11_0bg.jpg' %}">
                </div>
                <div class="roomName">
                    <p class="roomDis">{{ room_i.room }}</p>
                </div>
                <div class="check">
                    <img src="{% static 'image/checkPoint.svg' %}">
                </div>
            </label>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <script>

    </script>
    <div class="header">
        <div class="sbs-line">{{ room }}</div>
    </div>
    <div class="article">
        <ul id="list_message">
        </ul>
        <form action="" onsubmit="onsubmitButton_Send(); return false;">
            Message : <input class="container" type="text" id="input_message" autocomplete="off" autofocus />
            <input class="container2" type="submit" value="送信" />
        </form>
    </div>
</div>

<div class="talk wrapper">
    <!-- <div class="header">
        <div class="sbs-line">きのこ</div>
    </div> -->

</div>

<script>
    const g_elementInputMessage = document.getElementById("input_message");
    const g_elementListMessage = document.getElementById("list_message");
    const user_name = "{{ user.username }}";

    // WebSocketオブジェクト
    let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const room_name = "{{ room }}";
    const g_socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/accounts/" + room_name);

    // 「Send」ボタンを押したときの処理
    function onsubmitButton_Send() {
        // 送信用テキストHTML要素からメッセージ文字列の取得
        let strMessage = g_elementInputMessage.value;
        let your_name = user_name;
        if (!strMessage) {
            return;
        }
        // WebSocketを通したメッセージの送信,user_nameがちゃんと反映されない...
        g_socket.send(JSON.stringify({ "message": strMessage, "user": your_name }));

        // 送信用テキストHTML要素の中身のクリア
        g_elementInputMessage.value = "";
    }

    //同じサイトに入室後、0.5秒後に実行,onloadだと失敗
    window.setTimeout(function () {
        let strMessage = user_name + "が入室しました。";
        let your_name = user_name;
        // WebSocketを通したメッセージの送信
        g_socket.send(JSON.stringify({ "message": strMessage, "user": your_name }));

        // 送信用テキストHTML要素の中身のクリア
        g_elementInputMessage.value = "";
    }, 50);

    // WebSocketからメッセージ受信時の処理
    g_socket.onmessage = (event) => {
        // テキストデータをJSONデータにデコード
        let data = JSON.parse(event.data);

        // メッセージの整形
        let strMessage = data["message"];
        let your_name = data["user"];

        // 送信されたメッセージをメッセージリストに追加
        let elementLi = document.createElement("li");
        elementLi.classList.add("room_message");

        // 送信されたユーザーnameをclass:list_message下に追加
        let elementLiName = document.createElement("li");
        elementLiName.classList.add("room_userName");
        if (strMessage.match("が入室しました。")) {
            //一旦こう書いてるけど、送られるコメントによってはまずい判定方法
            elementLi.textContent = strMessage;
        } else {
            elementLi.textContent = strMessage
            elementLiName.textContent = your_name;
            //上記の書き方だとかならず同じ人になる。
        }
        if (your_name == user_name && strMessage.match("が入室しました。")) {
            //このやり方だと同姓同名が無理になる。要検討
            elementLi.classList.add("talk_middle")
            g_elementListMessage.append(elementLi);    // リストの一番下に追加
        } else if (your_name == user_name) {
            elementLi.classList.add("talk_right")
            g_elementListMessage.append(elementLi);    // リストの一番下に追加
            g_elementListMessage.append(elementLiName);    // リストの一番下に追加
        } else if (your_name != user_name && strMessage.match("が入室しました。")) {
            elementLi.classList.add("talk_middle")
            g_elementListMessage.append(elementLi);    // リストの一番下に追加

        } else {
            elementLi.classList.add("talk_left")
            g_elementListMessage.append(elementLi);    // リストの一番下に追加
            g_elementListMessage.append(elementLiName);    // リストの一番下に追加
        }

        //g_elementListMessage.prepend(elementLi); // リストの一番上に追加
    };

    // WebSocketクローズ時の処理
    g_socket.onclose = (event) => {
        // ウェブページを閉じたとき以外のWebSocketクローズは想定外
        console.error("Unexpected : Chat socket closed.");
    };
</script>
{% endblock %}